
body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #eef2f3;
}

h1 {
  background: #005b96;
  color: white;
  padding: 15px;
  margin: 0;
}

#map {
  height: 70vh;
  width: 100%;
  margin-top: 10px;
}

#question {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

#feedback {
  margin-top: 10px;
  font-size: 18px;
}

#modeSwitch button.active {
  background-color: #3388ff;
  color: white;
}